* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: calibri, tahoma, verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

a {
  color: lighten(@foreground, 10%);
}

//Resets for the various in-stream elements to bring them in-line with our style

code {
  display: block;
  white-space: pre-wrap;
}

figure { margin: 0; padding: 0 }

