.charm-panel {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    border-left: 1px dotted #DDD;
    text-align: center;
    padding-top: 2em;
    background: @background;

    @media @mobile {
        top: inherit;
        bottom: 0px;
        width: 100%;
        height: 70px;
        border-left: none;
        padding-top: 8px;
        border-top: 1px dotted #DDD;
    }

    .charm {
        display: block;
        margin: 0 auto 8px;

        @media @mobile {
            display: inline-block;
            margin: 0;
        }
    }
}

@charm-radius: 50px;
@charm-inactive: black;
@charm-active: @accent;

.charm {
    border-radius: 50px;
    border: 2px solid @charm-inactive;
    color: @charm-inactive;
    width: @charm-radius - 1px;
    height: @charm-radius - 1px;
    font-size: @charm-radius * .8;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: @charm-radius * .85;
    text-decoration: none;

    &:hover {
        border-color: @charm-active;
        color: @charm-active;
    }
}
