.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: lighten(@foreground, 20%);
  background: @background;
  border-right: 1px dotted #DDD;

  @media @mobile {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 14px;
    border-right: none;
    border-bottom: 1px dotted #DDD;
  }
  
  li {
    margin-bottom: 4px;
    padding: 4px 1em;
    letter-spacing: 1.5px;

    @media @mobile {
      display: inline-block;
    }
    
    &.header {
      font-weight: normal;
    }
    
    &:hover {
      color: @foreground;
    }
    
    a {
      font-weight: bold;
      display: block;
    }
    
  }

  .alert {
    border: 1px solid black;
    margin: 0px 8px;
    padding: 4px;
    border-radius: 4px;

  }

  .message {
    border-color: #DDD;
  }

  .warning {
    border-color: @warning;
    background: lighten(@warning, 20%);
    color: darken(@warning, 50%);
  }

  .error {
    border-color: @error;
    background: lighten(@error, 20%);
    color: darken(@error, 50%);
  }
  
}
