.ui-panel {
    margin: 0 100px 0 20%;
    background: lighten(@foreground, 10%);
    color: @background;
    padding: 1em;
    min-height: 100%;

    @media @mobile {
        margin: 0;
        margin-bottom: 100px;
    }

    p {
        max-width: 400px;
    }

    a {
        color: darken(@background, 10%);
        text-decoration: underline;
        font-weight: bold;
    }

    label, legend {
        display: block;
        text-decoration: underline;
        margin-top: .5em;
        font-size: 20px;
    }

    input, select, textarea {
        margin: .5em 0;
        background: darken(@background, 30%);
        padding: 4px 1em;
        border: 1px solid @background;
        display: block;
    }

    button {
        background: lighten(@foreground, 20%);
        color: @background;
        border: 1px solid @background;
        padding: 4px 1em;
    }
}